* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  width: 80%;
  margin: auto;
  margin-top: 72px;
}

.flex-container {
  display: flex;
  margin-bottom: 80px;
}

/* Fonts */
html,
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

/* basic styles */
h1,
h2 {
  font-family: "Abril Fatface", cursive;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 40px;
}

.pd-right {
    padding-right: 24px;
}
.pd-left {
    padding-left: 24px;
}

/* Styles for the Header and Nav */
header {
  width: 100%;
  height: 768px;
  background-image: url(assets/images/brewery-goal-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  border: 2px solid red;
}

nav {
  background-color: white;
  text-align: center;
  padding-top: 24px;
  height: 80px;
}
.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.menu li a {
    padding: 15px;
}
.current {
    font-weight: bold;
}


.intro {
  text-align: center;
  padding-top: 10%;
  background-color: rgba(240, 248, 255, 0.534);
  height: 100%;
}
.intro h1 {
  font-size: 72px;
}

/* Styles for the main section */

.description-img {
  width: 300px;
  max-width: 100%;
}

button {
    margin-top: 96px;
    width: 144px;
    height: 48px;
}

/* Make anchor tag look like button */
.btn {
  appearance: auto;
  background-color: rgb(214, 211, 211);
  margin-top: 96px;
  padding: 10px 27.59px;
  text-decoration: none;
  box-sizing: border-box;
  border-width: 1px;
  border-style: outset;
  border-color: rgb(118,118,118);

}

/* footer */
footer {
    background-color: #ebebeb;
    padding-left: 160px;
    padding-top: 24px;
    height: 80px;
}


@media screen and (max-width: 700px) {
  .flex-container {   
    flex-direction: column-reverse;
  }

  #reverse-img-direction {
    flex-direction: column;
  }
  footer {
    padding-left: 24px;
  }
}