* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 72px;
}

.flex-container {
  display: flex;
  margin-bottom: 80px;
}

/* Fonts */
html,
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

/* basic styles */
h1,
h2 {
  font-family: "Abril Fatface", cursive;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 40px;
}

p {
  margin-bottom: 16px;
}

.pd-right {
  padding-right: 24px;
}
.pd-left {
  padding-left: 24px;
}

.menu li a:hover {
  color: #4eabf5;
}

/* Styles for the Header and Nav */
header {
  width: 100%;
  height: 768px;
  background-image: url(assets/images/brewery-goal-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: hidden;
}

nav {
  background-color: #ffffff;
  font-size: 18px;
  text-align: center;
  padding-top: 24px;
  height: 80px;
}
.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.menu li a {
  padding: 15px;
  text-decoration: none;
  color: #3e79a8;
}
#current {
  font-weight: bold;
  text-decoration: underline;
}

.intro {
  text-align: center;
  padding-top: 10%;
  background-color: #f0f8ff88;
  height: 100%;
}
.intro h1 {
  font-size: 72px;
}

/* Styles for the main section */

.description-img {
  width: 300px;
  max-width: 100%;
}

button {
  width: 144px;
  height: 48px;
}

/* Make anchor tag look like button */
.btn {
  appearance: auto;
  background-color: #a83a36;
  margin-top: 80px;
  padding: 10px 27.59px;
  text-decoration: none;
  box-sizing: border-box;
  border-width: 1px;
  border-style: outset;
  border-color: #000000;
  color: #ffffff;
}

.btn:hover {
  background-color: #f56c68;
}

/* footer */
footer {
  background-color: #3e79a8;
  padding-left: 160px;
  padding-top: 24px;
  height: 80px;
  color: #f1f57f;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .flex-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .description-img {
    width: auto;
  }

  .btn {
    margin-top: auto;
  }

  #reverse-img-direction {
    flex-direction: column;
  }
  footer {
    padding-left: 24px;
  }
}
